@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap");

/* Global Styles*/
:root {
  --primary-color: #333;
  --light-color: #fff;
  --success-color: #40bb75;
  --error-color: #dc3b37;
  --background-color: #f5fbff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Fira Sans", sans-serif;
  line-height: 1.6;
  padding: 5rem;
  height: 100vh;
}

/*buttons*/
.btn {
  border: none;
  padding: 2rem;
  box-shadow: 0 0 2.5rem #cacaca;
  transition: 0.25s;
  cursor: pointer;
}

.btn-circle {
  background-color: var(--light-color);
  color: var(--primary-color);
  border-radius: 50%;
  padding: 2rem 2.2rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.btn-circle:hover {
  transform: scale(1.1);
  transition: 0.25s;
  box-shadow: 0 0 2.5rem #acacac;
}

/* top bar */
.top-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
/* sidebar */
.burger-menu-icon {
  border: none;
  position: relative;
}

/* Header */
header {
  position: relative;
  color: var(--primary-color);
  padding: 2rem;
  font-size: 1.25rem;
}

.Title {
  font-size: 3rem;
  padding: 0 2rem 2rem 0;
}
