/* Global Styles*/
:root {
  --primary-color: #333;
  --light-color: #fff;
  --success-color: #40bb75;
  --error-color: #dc3b37;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f5fbff;
  color: var(--primary-color);
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  padding: 5rem;
  height: 100vh;
}

/*buttons*/
.btn {
  border: none;
  padding: 2rem;
  box-shadow: 0 0 2.5rem #cacaca;
  transition: 0.25s;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  cursor: pointer;
}

.btn-circle {
  background-color: var(--light-color);
  color: var(--primary-color);
  border-radius: 50%;
  padding: 2rem 2.2rem;
}

.btn-circle:hover {
  transform: scale(1.1);
  transition: 0.25s;
  box-shadow: 0 0 2.5rem #acacac;
}
