@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap");

/* Global Styles*/
:root {
  --primary-color: #333;
  --light-color: #fff;
  --success-color: #40bb75;
  --error-color: #dc3b37;
  --background-color: #f5fbff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: "Fira Sans", sans-serif;
  line-height: 1.6;
  padding: 3rem;
  height: 200vh;
}

/*buttons*/
.btn {
  border: none;
  padding: 2rem;
  box-shadow: 0 0 2.5rem #cacaca;
  transition: 0.25s;
  cursor: pointer;
}

.btn-circle {
  background-color: var(--light-color);
  color: var(--primary-color);
  border-radius: 50%;
  padding: 2rem 2.2rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}

.btn-circle:hover {
  transform: scale(1.1);
  transition: 0.25s;
  box-shadow: 0 0 2.5rem #acacac;
}

/* Title */
.Title {
  font-size: 3rem;
  padding: 0 2rem 2rem 0;
}

/* top bar */
.top-bar {
  background-color: var(--light-color);
  box-shadow: 0 0 2.5rem #eeeeee;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  position: sticky;
  top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: var(--primary-color);
}

.burger-menu-icon {
  cursor: pointer;
  border: none;
  position: relative;
  background-color: transparent;
  transition: 0.2s;
}

.burger-menu-icon:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

header {
  position: relative;
  left: 3rem;
  font-size: 1.25rem;
}

/* aside */
#sidebar {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  box-shadow: 0 0 100rem black;
  background: var(--background-color);
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.3s ease-out;
  white-space: nowrap;
}

.sidebar-header {
  background-color: var(--light-color);
  border-radius: 1rem;
  position: sticky;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 3rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 2.5rem #eeeeee;
}

#sidebar-title {
  position: relative;
  font-size: 2.25rem;
  left: 3rem;
}

.edit-icon {
  position: absolute;
  right: 3rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;
}

.edit-icon:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.categories {
  list-style: none;
  position: relative;
  display: grid;
  row-gap: 1rem;
  margin: 3rem;
}

.categories li {
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 0 1rem 3rem;
  border-radius: 1rem;
}

.categories li:hover {
  background-color: #eeeeee;
}
